body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(128, 0, 0, 0.094);
}

.header h1 {
    width: 100%;
    font-style: italic;
    color: rgb(90, 2, 2);
}

nav {
    width: 100%;
    background-color: #212121cd;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    padding: 0 3%;
    width: 33%;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

figure {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

figure img {
    max-width: 100%;
    max-height: 400px;
    width: 100%;
    height: auto;
    display: block;
    background-image: cover;
}

figcaption {
    padding: 20px 0 40px 0;
    font-style: italic;
    color: #333;
    background-color: #21212127;
}
main.main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}
article {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    height: auto;
    padding: 1%;
    border-right: 1px solid #21212127;
    border-left: 1px solid #21212127;
}
section {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

#home h2 {
    text-transform: uppercase;
    color: blue;
}

details {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 0;
}

summary {
    font-style: italic;
    color: green;
}

p.poragraf {
    color: red;
}

aside {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

aside h3 {
    text-transform: uppercase;
    font-style: italic;
    color: chocolate;
}

table {
    width: 100%;
}
aside.aside{
    position: relative;
    top: 0;
    left: 0;
    width: 30%;
    height: auto;
}
footer.footer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #21212127;
}

/* Additional styles for new HTML5 tags */
time {
    font-style: italic;
    color: blue;
}

abbr {
    text-decoration: underline dotted;
    cursor: help;
}
